{% extends "base.html" %}

{% block title %}
História da Tecnologia
{% endblock %}

{% block content %}
<div class="history-content">
    <h1>História da Tecnologia</h1>
    <p>A Roda (c. 3500 a.C.): Usada inicialmente em carros de boi, fundamental para transporte e máquinas.</p>
    <p>A Escrita (c. 3400 a.C.): Desenvolvida na Mesopotâmia, essencial para a comunicação e registro de informações.</p>
    <p>O Arado (c. 3500 a.C.): Revolucionou a agricultura ao tornar o cultivo de terras mais eficiente.</p>
    <p>O Relógio de Sol (c. 1500 a.C.): Um dos mais antigos instrumentos para medir o tempo, utilizado pelos egípcios.</p>
    <p>O Aqueduto (c. 312 a.C.): Inovação romana para transporte de água, essencial para o abastecimento urbano.</p>
    <p>O Papel (c. 100 a.C.): Inventado na China, substituiu materiais menos práticos como bambu e seda.</p>
    <p>A Imprensa de Tipos Móveis (c. 1440): Johannes Gutenberg. Transformou a produção de livros e a disseminação de conhecimento.</p>
    <p>O Microscópio (final do século XVI): Permitiu a visualização do mundo microscópico, crucial para o desenvolvimento da biologia.</p>
    <p>O Telescópio (início do século XVII): Aperfeiçoado por Galileu, revolucionou a astronomia e nossa compreensão do universo.</p>
    <p>O Motor a Vapor (final do século XVII): Impulsionador da Revolução Industrial.</p>
    <p>A Eletricidade (século XIX): Base para inovações em comunicação, iluminação e motores elétricos.</p>
    <p>O Telefone (1876): Alexander Graham Bell. Revolucionou a comunicação pessoal e comercial.</p>
    <p>A Lâmpada Incandescente (1879): Desenvolvida por Thomas Edison, permitiu a iluminação eficiente de espaços internos e externos.</p>
    <p>O Automóvel (final do século XIX): Karl Benz. Transformou o transporte pessoal e a configuração das cidades.</p>
    <p>A Aviação (1903): Os irmãos Wright realizaram o primeiro voo controlado de uma aeronave mais pesada que o ar.</p>
    <p>O Rádio (início do século XX): Essencial para comunicação de massa e entretenimento.</p>
    <p>O Computador (século XX): Desenvolvimento crucial para dados, comunicação e entretenimento.</p>
    <p>A Internet (final do século XX): Conectou o mundo de maneira sem precedentes.</p>
    <p>O Smartphone (início do século XXI): Reuniu múltiplas tecnologias em um único dispositivo portátil.</p>
    <p>A inteligência artificial (século XXI)</p>
</div>
{% endblock %}
